.globalScoreContainer {
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
        align-items: center;
        height: 100%;
}


.mainInput{
    font-size: 18px;
    color:#3F51B5;
}
.welcomeInput {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute;
    top: 40%
}


.catTitle {
    color:#8E24AA;
    padding-right: 25px;
    font-family: 'Ubuntu', sans-serif;
}

.allArticlesPanel{
   margin-bottom: 3vh; 
    background-color:#3F51B5;
}
.spinnerCont{
    position: absolute;
    top: 40%;
    left: 35%;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    color:#3949AB;
    font-size: 24px;
}
.loadSpinner{
    margin-bottom: 15px;
    margin-left: 35%
}

.full-width{
    width: 80vw;
}


a {
    text-decoration: none !important;
}

::ng-deep .mat-figure{
    margin-bottom: 15px;
}

.star , .star-bg{
    background-color:#FFC107;
    background-image: linear-gradient(#F2994A, #F2C94C);


}
.wb_sunny, .wb_sunny-bg {
    background-image: linear-gradient(#fceabb, #f8b500);

}
.wb_iridescent, .wb_iridescent-bg {
    background-image: linear-gradient(#CAC531, #F3F9A7);
}
.filter_drama, .filter_drama-bg {
    background-image: linear-gradient(#abbaab, #ffffff);
}
.pool, .pool-bg {
    background-image: linear-gradient(#86A8E7, #91EAE4);

}
.ac_unit, .ac_unit-bg {
    background-image: linear-gradient(#556270, #FF6B6B);

}



.star-bg, .wb_sunny-bg, .wb_iridescent-bg, .filter_drama-bg, .ac_unit-bg, .default{
    z-index: -500;
  }

  .default{
    background-image: linear-gradient(#EFEFBB, #D4D3DD);
  }

  /* .extreme {

  } */
/* Add application styles & imports to this file! */

.full-heigth {
    height: 90vh;
}


html,
body {
  min-height: 100%;
}
.fullscreen {
  height: 100vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}
.top, .bottom {
  width: 100%;
  text-align: center;
}
.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
}
.middle {
  flex: 1;
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.center {
  flex: 1;
}

.top{
    height: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.left {
    width: 25%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* .right {
    width: 25%;
    background-color:red;
} */

.epicContainer {
    height: 60%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}
mat-chip {
    max-width: 200px
  }
.hotContainer {
    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.coldContainer {
    height: 100%;
    width: 50%;
    /* background-color: green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-size: 14px;
}
.globalScore {
    height: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.weatherContainer {
    height: 40%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.mainTemp {
    font-size: 2em;
}
#temperature {
    margin-top: 15px;
    font-family: 'Roboto Mono', monospace;
    font: bold 40px/1.7 !important;
}

.weatherIcon{
    height: 18vh;
    width: 18vh
}
.mainDescription {
    font: bold 15px/1.7 'Ubuntu' !important;
    color:#3949AB;
    /* overflow: hidden; */
}
  
  .ulEpic {
    list-style-type: none;
    height: 100%;
  }
  
  .h3Epic {
    font-family:  Helvetica, Verdana, sans-serif;
    font-size: 1em;
  }
  
  .imgEpic {
    float: left;
    margin: 0 15px 0 0;
    height: 6vw;
    width: 6vw;
    font-size: 50px;
  }
  
  
  .liEpic {
    padding: 10px;
    overflow: hidden !important;
    padding-bottom: 3vh;
    overflow: auto;
    max-height: 10vh;
    color:#673AB7;
  }
  
  .liEpic:hover {
    background: darkgray;
    cursor: pointer;
  }

  .subTemp {
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      background-color:rgba(0,0,0,0.3);
  }