

<div  [className]="'fullscreen '+ dynamicBg">
    <h1  *ngIf='!showDetails && !loader' style="text-align: center; margin-top: 10vh; color:#8E24AA;">SMART WEATHER: Get the weather of anything</h1>
    <div *ngIf='!showDetails && !loader' class='welcomeInput'>
    <mat-form-field class="full-width">
        <input type='text' class='mainInput' matInput (keyup)="onChange($event.target.value)" placeholder="Write a word in english">
      </mat-form-field>
      <button mat-button (click)="onSelectCountry()">Lets go</button>

    </div>


    <div class="top" *ngIf='loader || showDetails'>
        <mat-form-field >
            <input type='text' class='mainInput' matInput (keyup)="onChange($event.target.value)" placeholder="Another try ?">
          </mat-form-field>
          <button mat-button (click)="onSelectCountry()">Lets go</button>
    </div>
    <div *ngIf="showDetails" class="middle">
      <div class="left shadow acrylic">
          <button mat-raised-button 
          [matBadge]="finalDetail['entities'][entity].length" matBadgePosition="before" [matBadgeColor]="REVERSEassignColorToEntity(entity)" class='entityBtn'
          [color]="assignColorToEntity(entity)" (click)="onClickingEntity(entity)"  *ngFor="let entity of entitiesKeys" 
          >
        {{entity}}
      </button>
      </div>
      <div class="center">
            <div class='globalScore shadow acrylic'>
              <div class='weatherContainer'>
                <img [src]="convertScoreToImage(finalDetail.score)" class='weatherIcon'>
                    
                <div [style.color]="convertTemperatureToColor(finalDetail.score)" class='mainTemp' id='temperature'>
                    {{convertScoreToTemperature(finalDetail.score)}}
                  </div>
              </div>
              <div class='mainDescription'>{{convertScoreToDescription(convertScoreToIcon(finalDetail.score))}}</div>
            </div>
            <div class='epicContainer shadow acrylic'>
                  <div class='hotContainer'>
                     <ul class='ulEpic'>
                        <li class="liEpic" *ngFor="let article of epicArticles.max">
                            <img  class="imgEpic" [src]="article.urlToImage || convertScoreToImage(article.sentiment.document.score)" >
                            <!-- <mat-icon class="imgEpic"  mat-list-icon>{{convertScoreToIcon(article.sentiment.document.score)}}</mat-icon> -->
                            <span class='subTemp' [style.color]="convertTemperatureToColor(article.sentiment.document.score)"> 
                              {{convertScoreToTemperature(article.sentiment.document.score)}}
                              <img  class="littleImage" [src]="convertScoreToImage(article.sentiment.document.score)" >
                            </span>
                            <h3  class="hEpic">                         
                               <p><a target="_blank" rel="noopener noreferrer" [href]="article.retrieved_url"> <span>{{article.title}} </span> </a>
                            </h3>
                          </li>
                     </ul>

                     
                  </div>
                  <div class='coldContainer'>
                      <ul class='ulEpic'>
                          <li class="liEpic" *ngFor="let article of epicArticles.min">
                              <img  class="imgEpic" [src]="article.urlToImage || convertScoreToImage(article.sentiment.document.score)" >
                              <!-- <mat-icon class="imgEpic"  mat-list-icon>{{convertScoreToIcon(article.sentiment.document.score)}}</mat-icon> -->
                              <span class='subTemp' [style.color]="convertTemperatureToColor(article.sentiment.document.score)">
                                 {{convertScoreToTemperature(article.sentiment.document.score)}}
                                 <img  class="littleImage" [src]="convertScoreToImage(article.sentiment.document.score)" >
                                </span>
                              <h3  class="hEpic">                         
                                 <p><a target="_blank" rel="noopener noreferrer" [href]="article.retrieved_url"> <span>{{article.title}} </span> </a>
                              </h3>
                            </li>
                       </ul>
  
                  </div>
            </div>
      </div>
      <div class="right categoriesContainer"></div>
    </div>
    <!-- <div class="bottom">the articles are provided by google news api</div> -->
  </div>
  <div *ngIf='loader' class='spinnerCont'>
      <mat-spinner class="loadSpinner" ></mat-spinner>
      <span>{{dynamicStatus}}</span>
  </div>
<div>