/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
.yellow {
    color:#FFC107;
}

  .acrylic {
    position: relative;
    margin: 1em;
  }
  
  .acrylic::before {
    filter: blur(10px);
    content: "";
    z-index: -1;
  }
  
  .acrylic::after {
    content: "";
    z-index: -1;
    opacity: 0.35;
    border: 1px solid #fff;
    background: #fff;
  }
  
  .shadow {
    border-radius: 1px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
  } 
/* 
  .mat-expansion-panel-header-title {
      min-width: 50%;
  } */
  body {
    font-family: 'Ubuntu', sans-serif;
  }